#### Tras comprobar que los valores nulos aparecen en forma de interrogantes, cargamos los datos

In [2]:
import pandas as pd
df_v0 = pd.read_csv('Practica insurance_claims.csv', na_values ="?")

#### Comprobamos que no haya registros duplicados

## DATASET V.0 : dataset base desde el cual partimos

In [3]:
df_v0.head()

,months_as_customer,age,policy_number,policy_bind_date,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,...,witnesses,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year,fraud_reported
0,328,48,521585,2014-10-17,OH,250/500,1000,1406.91,0,466132,...,2,YES,71610,6510,13020,52080,Saab,92x,2004,Y
1,228,42,342868,2006-06-27,IN,250/500,2000,1197.22,5000000,468176,...,0,NaN,5070,780,780,3510,Mercedes,E400,2007,Y
2,134,29,687698,2000-09-06,OH,100/300,2000,1413.14,5000000,430632,...,3,NO,34650,7700,3850,23100,Dodge,RAM,2007,N
3,256,41,227811,1990-05-25,IL,250/500,2000,1415.74,6000000,608117,...,2,NO,63400,6340,6340,50720,Chevrolet,Tahoe,2014,Y
4,228,44,367455,2014-06-06,IL,500/1000,1000,1583.91,6000000,610706,...,1,NO,6500,1300,650,4550,Accura,RSX,2009,N

In [4]:
df_v0.shape

(1000, 39)

#### Comprobamos que no haya registros duplicados

In [5]:
dups = df_v0.duplicated()
print(dups.unique())

[False]

#### Comprombamos los valores nulos

In [6]:
df_v0.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 39 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   months_as_customer           1000 non-null   int64
 1   age                          1000 non-null   int64
 2   policy_number                1000 non-null   int64
 3   policy_bind_date             1000 non-null   object
 4   policy_state                 1000 non-null   object
 5   policy_csl                   1000 non-null   object
 6   policy_deductable            1000 non-null   int64
 7   policy_annual_premium        1000 non-null   float64
 8   umbrella_limit               1000 non-null   int64
 9   insured_zip                  1000 non-null   int64
 10  insured_sex                  1000 non-null   object
 11  insured_education_level      1000 non-null   object
 12  insured_occupation           1000 non-null   object
 13  insured_hobbies              1000 non-null   object
 14  insured_relationship         1000 non-null   object
 15  capital-gains                1000 non-null   int64
 16  capital-loss                 1000 non-null   int64
 17  incident_date                1000 non-null   object
 18  incident_type                1000 non-null   object
 19  collision_type               822 non-null    object
 20  incident_severity            1000 non-null   object
 21  authorities_contacted        1000 non-null   object
 22  incident_state               1000 non-null   object
 23  incident_city                1000 non-null   object
 24  incident_location            1000 non-null   object
 25  incident_hour_of_the_day     1000 non-null   int64
 26  number_of_vehicles_involved  1000 non-null   int64
 27  property_damage              640 non-null    object
 28  bodily_injuries              1000 non-null   int64
 29  witnesses                    1000 non-null   int64
 30  police_report_available      657 non-null    object
 31  total_claim_amount           1000 non-null   int64
 32  injury_claim                 1000 non-null   int64
 33  property_claim               1000 non-null   int64
 34  vehicle_claim                1000 non-null   int64
 35  auto_make                    1000 non-null   object
 36  auto_model                   1000 non-null   object
 37  auto_year                    1000 non-null   int64
 38  fraud_reported               1000 non-null   object
dtypes: float64(1), int64(17), object(21)
memory usage: 304.8+ KB

#### Estudiando los datos, encontramos que ciertas columnas contienen valores nulos, por tanto procederemos a estudiar que hacer con ellos: 
    -collision_type
    -police_report_available
    -property_damage

In [7]:
NullCols = ["collision_type","police_report_available","property_damage"]

for cols in NullCols:
    print("Numero de valores nulos de columna",cols, df_v0[cols].isnull().sum())
    print(df_v0.groupby(by=["fraud_reported",cols]).size())

Numero de valores nulos de columna collision_type 178
fraud_reported  collision_type
N               Front Collision    184
                Rear Collision     201
                Side Collision     206
Y               Front Collision     70
                Rear Collision      91
                Side Collision      70
dtype: int64
Numero de valores nulos de columna police_report_available 343
fraud_reported  police_report_available
N               NO                         257
                YES                        242
Y               NO                          86
                YES                         72
dtype: int64
Numero de valores nulos de columna property_damage 360
fraud_reported  property_damage
N               NO                 272
                YES                224
Y               NO                  66
                YES                 78
dtype: int64

### Vemos que los valores estan muy equilibrados y por otro lado que en dos casos faltan un tercio de los registros. Creo que imputarle la moda o un valor fijo desequilibraría ficticiamente la balanza y prodría producir a error en los modelos, razón por la cual obtaré por quitar las columnas por el momento.
### PD: En la entrega de la semana que viene se meterá la opción de imputarlas

In [8]:

df_Missing = df_v0[["collision_type","police_report_available","property_damage"]]

df_v01 = df_v0
df_v01.drop(columns=["collision_type","police_report_available","property_damage"], axis=1, inplace=True)

## DATASET V.0.1 : dataset base SIN columnas de valores nulos

In [9]:

df_v01

,months_as_customer,age,policy_number,policy_bind_date,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,...,bodily_injuries,witnesses,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year,fraud_reported
0,328,48,521585,2014-10-17,OH,250/500,1000,1406.91,0,466132,...,1,2,71610,6510,13020,52080,Saab,92x,2004,Y
1,228,42,342868,2006-06-27,IN,250/500,2000,1197.22,5000000,468176,...,0,0,5070,780,780,3510,Mercedes,E400,2007,Y
2,134,29,687698,2000-09-06,OH,100/300,2000,1413.14,5000000,430632,...,2,3,34650,7700,3850,23100,Dodge,RAM,2007,N
3,256,41,227811,1990-05-25,IL,250/500,2000,1415.74,6000000,608117,...,1,2,63400,6340,6340,50720,Chevrolet,Tahoe,2014,Y
4,228,44,367455,2014-06-06,IL,500/1000,1000,1583.91,6000000,610706,...,0,1,6500,1300,650,4550,Accura,RSX,2009,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,3,38,941851,1991-07-16,OH,500/1000,1000,1310.80,0,431289,...,0,1,87200,17440,8720,61040,Honda,Accord,2006,N
996,285,41,186934,2014-01-05,IL,100/300,1000,1436.79,0,608177,...,2,3,108480,18080,18080,72320,Volkswagen,Passat,2015,N
997,130,34,918516,2003-02-17,OH,250/500,500,1383.49,3000000,442797,...,2,3,67500,7500,7500,52500,Suburu,Impreza,1996,N
998,458,62,533940,2011-11-18,IL,500/1000,2000,1356.92,5000000,441714,...,0,1,46980,5220,5220,36540,Audi,A5,1998,N
999,456,60,556080,1996-11-11,OH,250/500,1000,766.19,0,612260,...,0,3,5060,460,920,3680,Mercedes,E400,2007,N

## Convertimos categorías en etiquetas numéricas
### Vamos a convertir todas las columnas tipo object en numéricas para meter los datos posteriormente en el modelo y tener una métrica de partida.

### PD: en la entrega de la semana que viene dividiré este apartado en etiquetas ordinales y nominales

In [10]:
from sklearn.preprocessing import LabelEncoder

df_v1 = pd.DataFrame()

original = df_v0
mask = df_v0.isnull()

df_v1 = df_v0.astype(object).apply(LabelEncoder().fit_transform)
df_v1 = df_v1.where(~mask, original)

## DATASET V.1: dataset listo para introducir en un modelo

In [11]:
df_v1

,months_as_customer,age,policy_number,policy_bind_date,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,...,bodily_injuries,witnesses,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year,fraud_reported
0,299,29,480,940,2,1,1,732,1,486,...,1,2,563,258,512,545,10,1,9,1
1,212,23,257,635,1,1,2,396,5,519,...,0,0,44,46,45,38,8,12,12,1
2,123,10,672,413,2,0,2,740,5,6,...,2,3,143,337,104,116,4,30,12,0
3,239,22,140,19,0,1,2,743,6,812,...,1,2,451,245,249,521,3,34,19,1
4,212,25,286,922,0,2,1,902,6,850,...,0,1,81,70,36,66,0,31,14,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,3,19,935,67,2,2,1,577,1,19,...,0,1,705,624,379,664,6,6,11,0
996,266,22,101,907,0,0,1,765,1,813,...,2,3,760,630,608,714,13,28,20,0
997,119,15,902,514,2,1,0,691,3,181,...,2,3,507,324,330,554,11,19,1,0
998,377,43,500,831,0,2,2,652,5,157,...,0,1,224,168,170,256,1,5,3,0
999,376,41,523,283,2,1,1,19,1,861,...,0,3,43,17,53,42,8,12,12,0

In [12]:
y_df = df_v1["fraud_reported"]
X_df_v1 = df_v1.copy()
X_df_v1.drop(columns=['fraud_reported',], axis=1, inplace=True)
df_v1.shape

(1000, 36)

### Separamos variable dependiente e independiente

In [13]:
y_df.shape

(1000,)

In [14]:
X_df_v1.head()

,months_as_customer,age,policy_number,policy_bind_date,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,...,number_of_vehicles_involved,bodily_injuries,witnesses,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year
0,299,29,480,940,2,1,1,732,1,486,...,0,1,2,563,258,512,545,10,1,9
1,212,23,257,635,1,1,2,396,5,519,...,0,0,0,44,46,45,38,8,12,12
2,123,10,672,413,2,0,2,740,5,6,...,2,2,3,143,337,104,116,4,30,12
3,239,22,140,19,0,1,2,743,6,812,...,0,1,2,451,245,249,521,3,34,19
4,212,25,286,922,0,2,1,902,6,850,...,0,0,1,81,70,36,66,0,31,14

## Modelos: vamos a trabajar con cuatro modelos de predicción a la vez y así puedo ver cuando mejoro resultados

### Modelo GaussianNB con un train_test_split incorporado y bucle que genera 100 distribuciones aleatorias y entrega la media del resultado:

### PD: en la entrega de la semana que viene usaré el método kfold y se tendrá en cuenta la varianza

In [15]:
def testeoDataSetConGaussianNB(X,y):

    from sklearn.model_selection import train_test_split
    from sklearn.naive_bayes import GaussianNB
    errorNB = 0
    count = 0
    for random in range(0,99,1):
        X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=random)
        gnb = GaussianNB()
        y_pred = gnb.fit(X_train, y_train).predict(X_test)
#         print("Number of mislabeled points out of a total %d points : %d = %d percent error ratio" % (X_test.shape[0], (y_test != y_pred).sum(),100*(y_test != y_pred).sum()/X_test.shape[0]))
        errorNB += (100*(y_test != y_pred).sum()/X_test.shape[0])
        count += 1
    print("media de error en %d distribuciones distintas %d por ciento" %(count, errorNB/count))
    count = 0

In [16]:
testeoDataSetConGaussianNB(X_df_v1,y_df)

media de error en 99 distribuciones distintas 26 por ciento

### Modelo KNeighborsClassifier con un train_test_split incorporado y bucle que genera 100 distribuciones aleatorias y entrega la media de los resultados en forma de error:

In [17]:
def testeoDataSetConKNeighborsClassifier(X,y):
    from sklearn.model_selection import train_test_split
    from sklearn.neighbors import KNeighborsClassifier
    errorKNN = 0
    count = 0
    for random in range(0,99,1):
        X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.3, random_state=random)
        neigh = KNeighborsClassifier(n_neighbors=5)
        y_pred = neigh.fit(X_train, y_train).predict(X_test)
    #     print("Number of mislabeled points out of a total %d points : %d = %d percent error ratio" % (X_test.shape[0], (y_test != y_pred).sum(),100*(y_test != y_pred).sum()/X_test.shape[0]))
        errorKNN += (100*(y_test != y_pred).sum()/X_test.shape[0])
        count += 1
    print("media de error en %d distribuciones distintas de %d por ciento" %(count, errorKNN/count))
    count = 0

In [18]:
testeoDataSetConKNeighborsClassifier(X_df_v1,y_df)

media de error en 99 distribuciones distintas de 29 por ciento

### Modelo LogisticRegression con un train_test_split incorporado y bucle que genera 100 distribuciones aleatorias y entrega la media del resultado:

In [19]:
def testeoDataSetConLogisticRegression(X,y):
    from sklearn.model_selection import train_test_split
    from sklearn.linear_model import LogisticRegression
    errorLR = 0
    count = 0
    for random in range(0,99,1):
        X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.3, random_state=random)
        LogReg = LogisticRegression(solver="liblinear",max_iter = 5000, random_state=0, multi_class="ovr")
        y_pred = LogReg.fit(X_train, y_train).predict(X_test)
#         print("Number of mislabeled points out of a total %d points : %d = %d percent error ratio" % (X_test.shape[0], (y_test != y_pred).sum(),100*(y_test != y_pred).sum()/X_test.shape[0]))
        errorLR += (100*(y_test != y_pred).sum()/X_test.shape[0])
        count += 1
    print("media de error en %d distribuciones distintas de %d por ciento" %(count, errorLR/count))
    count = 0

In [20]:
testeoDataSetConLogisticRegression(X_df_v1,y_df)

media de error en 99 distribuciones distintas de 22 por ciento

### Modelo DecisionTreeClassifier con un train_test_split incorporado y bucle que genera 100 distribuciones aleatorias y entrega la media del resultado:

In [21]:
def testeoDataSetConDecisionTreeClassifier(X,y):
    from sklearn.model_selection import train_test_split
    from sklearn import tree
    errorTree = 0
    count = 0
    for random in range(0,99,1):
        X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.3, random_state=random)
        DecTree = tree.DecisionTreeClassifier()
        y_pred = DecTree.fit(X_train, y_train).predict(X_test)
#         print("Number of mislabeled points out of a total %d points : %d = %d percent error ratio" % (X_test.shape[0], (y_test != y_pred).sum(),100*(y_test != y_pred).sum()/X_test.shape[0]))
        errorTree += (100*(y_test != y_pred).sum()/X_test.shape[0])
        count += 1
    print("media de error en %d distribuciones distintas de %d por ciento" %(count, errorTree/count))
    count = 0

In [22]:
testeoDataSetConDecisionTreeClassifier(X_df_v1,y_df)

media de error en 99 distribuciones distintas de 20 por ciento

### Método de introducción de un dataset a los 4 modelos con el fín de ver que modelo funciona mejor:

In [23]:
def TesteoModelos(X, y):
    print("modelo naive bayes gaussiano")
    testeoDataSetConGaussianNB(X,y)
    print("modelo arbol de decisiones de clasificación")
    testeoDataSetConDecisionTreeClassifier(X,y)
    print("modelo arbol de regresión logistica")
    testeoDataSetConLogisticRegression(X,y)
    print("modelo de K vecinos")
    testeoDataSetConKNeighborsClassifier(X,y)

In [24]:
TesteoModelos(X_df_v1,y_df)

modelo naive bayes gaussiano
media de error en 99 distribuciones distintas 26 por ciento
modelo arbol de decisiones de clasificación
media de error en 99 distribuciones distintas de 20 por ciento
modelo arbol de regresión logistica
media de error en 99 distribuciones distintas de 22 por ciento
modelo de K vecinos
media de error en 99 distribuciones distintas de 29 por ciento

### Parece que tenemos una tasa de acierto de entre el 71 y el 79% en los modelos testeados

### Vamos a hacer la preparación de datos y vamos a ver si conseguimos una mejora en los resultados

## INTENTO 1 DE MEJORAR PREDICCIÓN

#### Estudiando los datos, encontramos tres columnas que por la información que entregan consideramos redundantes, por tanto procederemos a eliminarla de la siguiente versión del dataset: 
    -policy_bind_date redundante con "months_as_customer"
    -insured_zip redundante con "policy_state"
    -incident_location redundante con "incident_city"

#### Estudiando los datos, encontramos la columna policy_number que es un dato único de cada cliente y no dá información relevante ya que no sirve para encontrar patrones, por tanto procederemos a eliminarla de la siguiente versión del dataset: 
    -policy_number no da información

In [25]:
X_df_v2 = X_df_v1.copy()

In [26]:
X_df_v2.drop(columns=['policy_bind_date',"insured_zip","incident_location","policy_number"], axis=1, inplace=True)

## DATASET V.2: dataset tras eliminar datos sin información o redundantes (se trabaja directamente con el dataset independiente X_df_v2)

In [27]:
TesteoModelos(X_df_v2,y_df)

modelo naive bayes gaussiano
media de error en 99 distribuciones distintas 26 por ciento
modelo arbol de decisiones de clasificación
media de error en 99 distribuciones distintas de 21 por ciento
modelo arbol de regresión logistica
media de error en 99 distribuciones distintas de 23 por ciento
modelo de K vecinos
media de error en 99 distribuciones distintas de 29 por ciento

### Parece que los valores se mantienen o incluso en el caso de la regresión logistica empeora.
### PD: en la entrega de la semana que viene se hará una evalución individual de cada variable

## INTENTO 2 DE MEJORAR PREDICCIÓN

#### Estudiando los valores vemos que hay valores relativamente contínuos que se podrían convertir en categorías/ discretizar y que para el tipo de problema se considera que será mas efectivo

In [37]:
X_df_v3 = X_df_v2.copy()
X_df_v3

,months_as_customer,age,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_sex,insured_education_level,insured_occupation,...,number_of_vehicles_involved,bodily_injuries,witnesses,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year
0,299,29,2,1,1,732,1,1,4,2,...,0,1,2,563,258,512,545,10,1,9
1,212,23,1,1,2,396,5,1,4,6,...,0,0,0,44,46,45,38,8,12,12
2,123,10,2,0,2,740,5,0,6,11,...,2,2,3,143,337,104,116,4,30,12
3,239,22,0,1,2,743,6,0,6,1,...,0,1,2,451,245,249,521,3,34,19
4,212,25,0,2,1,902,6,1,0,11,...,0,0,1,81,70,36,66,0,31,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,3,19,2,2,1,577,1,0,5,2,...,0,0,1,705,624,379,664,6,6,11
996,266,22,0,0,1,765,1,0,6,9,...,0,2,3,760,630,608,714,13,28,20
997,119,15,2,1,0,691,3,0,5,1,...,2,2,3,507,324,330,554,11,19,1
998,377,43,0,2,2,652,5,1,0,5,...,0,0,1,224,168,170,256,1,5,3
999,376,41,2,1,1,19,1,0,0,11,...,0,0,3,43,17,53,42,8,12,12

In [38]:
X_df_v3.shape

(1000, 31)

In [39]:
X_df_v3 = X_df_v2.copy()
from sklearn.preprocessing import KBinsDiscretizer
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import Normalizer




discretizar = ["capital-gains","capital-loss","total_claim_amount","injury_claim",
               "property_claim","vehicle_claim","policy_annual_premium","age"]

    
ct = ColumnTransformer([('norm1', KBinsDiscretizer(n_bins=6, encode='ordinal', strategy='kmeans'), discretizar)], remainder='passthrough')

X_df_v3 = ct.fit_transform(X_df_v3)

# for cols in discretizar:
#         est = KBinsDiscretizer(n_bins=4, encode='ordinal', strategy='kmeans')
#         X_df_v3[cols] = est.fit_transform(X_df_v3[[cols]])

C:\Users\danny\anaconda3\lib\site-packages\sklearn\cluster\_kmeans.py:1037: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=4.
  "KMeans is known to have a memory leak on Windows "
C:\Users\danny\anaconda3\lib\site-packages\sklearn\cluster\_kmeans.py:1037: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=4.
  "KMeans is known to have a memory leak on Windows "
C:\Users\danny\anaconda3\lib\site-packages\sklearn\cluster\_kmeans.py:1037: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=4.
  "KMeans is known to have a memory leak on Windows "
C:\Users\danny\anaconda3\lib\site-packages\sklearn\cluster\_kmeans.py:1037: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=4.
  "KMeans is known to have a memory leak on Windows "
C:\Users\danny\anaconda3\lib\site-packages\sklearn\cluster\_kmeans.py:1037: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=4.
  "KMeans is known to have a memory leak on Windows "
C:\Users\danny\anaconda3\lib\site-packages\sklearn\cluster\_kmeans.py:1037: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=4.
  "KMeans is known to have a memory leak on Windows "
C:\Users\danny\anaconda3\lib\site-packages\sklearn\cluster\_kmeans.py:1037: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=4.
  "KMeans is known to have a memory leak on Windows "
C:\Users\danny\anaconda3\lib\site-packages\sklearn\cluster\_kmeans.py:1037: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=4.
  "KMeans is known to have a memory leak on Windows "

In [40]:
# importiong the modules
import pandas as pd
import numpy as np
  
# creating the dataframe
X_df_v3 = pd.DataFrame(data = X_df_v3, 
                  columns = X_df_v2.columns )
  
X_df_v3

,months_as_customer,age,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_sex,insured_education_level,insured_occupation,...,number_of_vehicles_involved,bodily_injuries,witnesses,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year
0,3.0,5.0,4.0,2.0,4.0,4.0,4.0,3.0,299.0,2.0,...,4.0,4.0,1.0,5.0,0.0,1.0,2.0,10.0,1.0,9.0
1,0.0,5.0,0.0,0.0,0.0,0.0,2.0,3.0,212.0,1.0,...,4.0,5.0,5.0,8.0,0.0,0.0,0.0,8.0,12.0,12.0
2,1.0,5.0,1.0,3.0,1.0,0.0,4.0,1.0,123.0,2.0,...,4.0,1.0,1.0,7.0,2.0,2.0,3.0,4.0,30.0,12.0
3,2.0,1.0,3.0,2.0,2.0,4.0,4.0,2.0,239.0,0.0,...,4.0,2.0,0.0,5.0,0.0,1.0,2.0,3.0,34.0,19.0
4,4.0,3.0,0.0,0.0,0.0,0.0,5.0,3.0,212.0,0.0,...,2.0,1.0,0.0,20.0,0.0,0.0,1.0,0.0,31.0,14.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,0.0,5.0,5.0,5.0,3.0,5.0,3.0,2.0,3.0,2.0,...,1.0,0.0,4.0,20.0,0.0,0.0,1.0,6.0,6.0,11.0
996,5.0,5.0,5.0,5.0,5.0,5.0,4.0,2.0,266.0,0.0,...,1.0,4.0,3.0,23.0,0.0,2.0,3.0,13.0,28.0,20.0
997,1.0,5.0,3.0,3.0,3.0,4.0,4.0,1.0,119.0,2.0,...,4.0,0.0,0.0,4.0,2.0,2.0,3.0,11.0,19.0,1.0
998,0.0,5.0,1.0,1.0,1.0,2.0,3.0,5.0,377.0,0.0,...,3.0,1.0,0.0,2.0,0.0,0.0,1.0,1.0,5.0,3.0
999,0.0,5.0,0.0,0.0,0.0,0.0,0.0,5.0,376.0,2.0,...,4.0,6.0,1.0,6.0,0.0,0.0,3.0,8.0,12.0,12.0

## DATASET V.3: dataset tras discretizar variables continuas

In [107]:
TesteoModelos(X_df_v3,y_df)

modelo naive bayes gaussiano
media de error en 99 distribuciones distintas 26 por ciento
modelo arbol de decisiones de clasificación
media de error en 99 distribuciones distintas de 21 por ciento
modelo arbol de regresión logistica
media de error en 99 distribuciones distintas de 23 por ciento
modelo de K vecinos
media de error en 99 distribuciones distintas de 30 por ciento

#### Tampoco parece generar una mejora sustancial

## SISTEMAS DE SELECCIÓN DE VARIABLES

### Importaciones de metodos de seleccion de variables chi2 y mutual_info_classif

In [108]:
from sklearn.feature_selection import SelectKBest, chi2, mutual_info_classif

X_df_v3.shape

(1000, 31)

#### Aplicacion de selección de variables con mutual_info_classif con 9 variables:
    -Vemos que mejoran 3 de 4 modelos

In [114]:
X_df_v4_1 = SelectKBest(mutual_info_classif, k=9).fit_transform(X_df_v1, y_df)
X_df_v4_1
# chi2,
# X_df_v4 = df_v1 = pd.DataFrame(X_df_v4)
TesteoModelos(X_df_v4_1,y_df)

modelo naive bayes gaussiano
media de error en 99 distribuciones distintas 22 por ciento
modelo arbol de decisiones de clasificación
media de error en 99 distribuciones distintas de 22 por ciento
modelo arbol de regresión logistica
media de error en 99 distribuciones distintas de 22 por ciento
modelo de K vecinos
media de error en 99 distribuciones distintas de 28 por ciento

#### Aplicacion de selección de variables con mutual_info_classif con 9 variables:
    -Vemos que mejoran 2 de 4 modelos

In [117]:
X_df_v4_2 = SelectKBest(mutual_info_classif, k=35).fit_transform(X_df_v1, y_df)
X_df_v4_2
# chi2,
# X_df_v4 = df_v1 = pd.DataFrame(X_df_v4)
TesteoModelos(X_df_v4_2,y_df)

modelo naive bayes gaussiano
media de error en 99 distribuciones distintas 26 por ciento
modelo arbol de decisiones de clasificación
media de error en 99 distribuciones distintas de 20 por ciento
modelo arbol de regresión logistica
media de error en 99 distribuciones distintas de 22 por ciento
modelo de K vecinos
media de error en 99 distribuciones distintas de 29 por ciento

#### Aplicacion de selección de variables con chi2 con 9 variables:
    -Vemos que mejoran 2 de 4 modelos

In [119]:
X_df_v4_3 = SelectKBest(chi2, k=9).fit_transform(X_df_v1, y_df)
X_df_v4_3
TesteoModelos(X_df_v4_3,y_df)

modelo naive bayes gaussiano
media de error en 99 distribuciones distintas 24 por ciento
modelo arbol de decisiones de clasificación
media de error en 99 distribuciones distintas de 29 por ciento
modelo arbol de regresión logistica
media de error en 99 distribuciones distintas de 21 por ciento
modelo de K vecinos
media de error en 99 distribuciones distintas de 28 por ciento

#### Aplicacion de selección de variables con chi2 con 35 variables:
    -Vemos que mejoran 2 de 4 modelos

In [122]:
X_df_v4_4 = SelectKBest(chi2, k=35).fit_transform(X_df_v1, y_df)
X_df_v4_4
TesteoModelos(X_df_v4_4,y_df)

modelo naive bayes gaussiano
media de error en 99 distribuciones distintas 26 por ciento
modelo arbol de decisiones de clasificación
media de error en 99 distribuciones distintas de 21 por ciento
modelo arbol de regresión logistica
media de error en 99 distribuciones distintas de 22 por ciento
modelo de K vecinos
media de error en 99 distribuciones distintas de 29 por ciento